<div class="row"> 
<div class="col-sm-7">
{{yield}}
</div>

<div class="col-sm-1">
<button id="dec-skill" {{action "decrement"}}>-</button>
</div>

<div class="col-sm-2">
{{rating}} ({{ratingName}})
</div>

<div class="col-sm-1">
<button id="inc-skill" {{action "increment"}}>+</button>
</div>

</div>
