{{notification-container notifications=notifications position="top-right"}}
      <div class="container-fluid">

<h1>FS3 3rd Edition Chargen Alpha Test</h1>

<p>This is a web-based chargen application to help test <a href="http://aresmush.com/fs3/fs3-3">FS3 3rd Edition</a>.  You are welcome to play around with it to see how chargen works in the new edition.  You can submit feedback below.</p>

<h2>A Word on Points</h2>

Don't worry about how many points you spend here.  Just make up the character the way you envision them.  3rd edition chargen does CG points a little differently, and part of what I'm trying to test here is how to scale them.

<h2>Enter a Name</h2>

Character Name: {{input type="text" value=charName}}

<h2>Describe Your Concept</h2>

<p>Just give a sentence or two about the character you're making.</p>

{{textarea value=charConcept cols="80" rows="3"}}

<h2>Pick a Theme</h2>
  
<p>Select a theme.  This will configure which skills are available.</p>

<select onchange={{action (mut selectedTheme) value="target.value"}}>
  {{#each themes as |tc|}}
    <option value={{tc}} selected={{eq selectedTheme tc}}>{{tc}}</option>
  {{/each}}
</select>

<p><b>Note:  Changing this will reset your skills.</b></p>

<h2>Pick Attributes</h2>

<p>Attributes represent basic abilities that everyone has to some extent. Attributes can be used when no skill directly applies. They can also boost related skills.  Attributes are rated 1-5.</p>

<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>1</td><td>Poor</td><td>You are below average. (less than 40th percentile)</td>
</tr>
<tr>
<td>2</td><td>Average</td><td>You are about average. (40-60th percentile)</td>
</tr>
<tr>
<td>3</td><td>Good</td><td>You’re better than average. (60-75th percentile)</td>
</tr>
<tr>
<td>4</td><td>Great</td><td>You are considerably above average. (75-90th percentile)</td>
</tr>
<tr>
<td>5</td><td>Exceptional</td><td>You’re truly remarkable. (more than 90th percentile)</td>
</tr>
</tbody>
</table>

{{#if showAttrErrors}}
<div class="alert alert-danger">
<ul>
{{#each attrErrors as |error|}}
<li>{{error}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#each fs3attrs as |att|}}
{{#fs3-attrbox rating=att.rating ratingName=att.ratingName updated=(action "validateChar")}}
    <b>{{att.name}}</b> - {{att.desc}}
{{/fs3-attrbox}}
{{/each}}

<h2>Pick Action Skills</h2>

<p>Action Skills represent your training/knowledge in areas that are likely to come up in action/conflict situations during the game.  Action Skills are rated from 0 to 8 based on your training and experience.  If the ratings here aren't clear enough for you, you can get some more guidance from the <a href="http://aresmush.com/fs3/fs3-3/detailed-ratings/">Detailed Skill Rating Examples</a>.</p>

<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>0</td><td>Unskilled</td><td>You lack even basic capabilities in this area.</td>
</tr>
<tr>
<td>1</td><td>Everyman</td><td>You know what the average inhabitant of the game world would know.</td>
</tr>
<tr>
<td>2</td><td>Amateur</td><td>You are a hobbyist or student with some basic training.</td>
</tr>
<tr>
<td>3</td><td>Rookie</td><td>You’re a junior professional, trained but lacking experience.</td>
</tr>
<tr>
<td>4</td><td>Professional</td><td>You are a thoroughly competent professional.</td>
</tr>
<tr>
<td>5</td><td>Veteran</td><td>You are a seasoned professional with a fair bit of experience.</td>
</tr>
<tr>
<td>6</td><td>Expert</td><td>You have significant experience to draw upon and are well-regarded in your field.</td>
</tr>
<tr>
<td>7</td><td>Elite</td><td>You are one of the top people in your field, like an All Star athlete or a world-renowned doctor.</td>
</tr>
<tr>
<td>8</td><td>Legend</td><td>You are one of the best that’s ever lived.</td>
</tr>
</tbody>
</table>

<p>A few tips for selecting Action Skills:</p>

<ul>
<li>The rating name should generally match your professional experience. While some variation is allowed for talent (or lack thereof), be careful not to stray too far. A brand-new pilot with an Elite piloting skill isn’t going to fly (pun intended).</li>
<li>Ratings 3 or higher imply you’re is good enough to do this for a living. Hobbies don’t need to be that high unless you’re really serious about them.</li>
<li>Skills are deliberately broad to simplify chargen.  Your character is expected to RP appropriately to their specialties.  For instance, a paramedic cannot perform brain surgery no matter how high their Medicine is.</li>
<li>Rating 1 (Everyman) is a special rating. It reflects what the average inhabitant of the game world would be capable of. What tasks you can even conceivably attempt with Everyman will vary from skill to skill.</li>
</ul>


{{#if showSkillErrors}}
<div class="alert alert-danger">
<ul>
{{#each skillErrors as |error|}}
<li>{{error}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#each fs3action as |skill|}}
{{#fs3-actionbox rating=skill.rating ratingName=skill.ratingName updated=(action "validateChar")}}
    <b>{{skill.name}}</b> - {{skill.desc}}
{{/fs3-actionbox}}
{{/each}}


<h2>Background Skills</h2>

Background Skills are free-form, so there is no specific list. You can pick anything from Singing to Underwater Basketweaving. Here are some sample Background Skills:

<ul>
<li>A science - astronomy, biology, chemistry, geology, mathematics, physics, etc.</li>
<li>A humanity - history, literature, psychology, philosophy, poetry, etc.</li>
<li>A profession or trade - cook, waitress, bartender, accountant, programmer, carpenter, brewer, blacksmith, etc.</li>
<li>A game - chess, roleplaying, poker, etc.</li>
<li>An art - sculpting, painting, sketching, photography, etc.</li>
<li>A form of expression - acting, singing, dancing, playing an instrument, writing, etc.</li>
<li>A sport - baseball, football, gymnastics, etc.</li>
<li>A craft or hobby - gardening, basketweaving, knitting, etc.</li>
<li>An unusual interest - detective novels, game show hosts, etc.</li>
</ul>

<p>Tip: You are assumed to be an Everyman in any Background Skill not listed on your character sheet. So even if you don’t take the “football” skill, you’ve still probably played it a few times in gym class in school, watched it on TV, etc. You can always choose to roleplay as Unskilled if it fits better.</p>

<p>Background Skills exist for RP flavor and character depth more than conflict resolution.  Because of that, they are <b>described</b>, not rated.   Just give a short sentence or so describing what your character knows and why.  For example:  <i>Pyramid - Marua played Pyramid in college.  She might have gone pro had she not joined the Navy.</i></p>


{{#each bgskills as |skill|}}
<p>Skill: {{input type="text" value=skill.name size=150}}</p>
{{/each}}

<button id="addbg" {{action "addBackgroundSkill"}}>Add Background Skill</button>


<h2>Languages</h2>

<p>Languages represent the languages that your character can speak and/or read.  Like Background Skills, Languages have no ratings. If you have a Language, you’re assumed to be fluent and literate. You can always RP a lower degree of proficiency if appropriate to your background.</p>


{{#each langskills as |skill|}}
<p>Language: {{input type="text" value=skill.name size=150}}</p>
{{/each}}

<button id="addlang" {{action "addLanguage"}}>Add Language</button>


<h2>Done!</h2>

<p>That's it!  You can view your finished character sheet below.   To submit your character to help alpha testing, enter any comments you have and click Submit.  You can also chat with or +mail <a href="http://aresmush.com/arescentral/">Faraday@AresCentral</a> or <a href="http://the100.wikidot.com/">Britt@The 100 MUSH</a>.  Thanks!</p>

{{textarea value=comments cols="80" rows="4"}}

<button id="submit" {{action "submit"}}>Submit</button>

{{partial "sheet"}}

</div>
