{{notification-container notifications=notifications position="top-right"}}
      <div class="container-fluid">

<h1>FS3 3rd Edition Chargen Alpha Test</h1>

<p>This is a web-based chargen application to help test <a href="http://aresmush.com/fs3/fs3-3">FS3 3rd Edition</a>.  You are welcome to play around with it to see how chargen works in the new edition.  You can submit feedback below.</p>

Read more about <a href="http://aresmush.com/fs3/fs3-3">3rd Edition</a>.

<h2>A Word on Points</h2>

Don't worry about how many points you spend here.  Just make up the character the way you envision them.  3rd edition chargen does CG points a little differently, and part of what I'm trying to test here is how to scale them.

<h2>Enter a Name</h2>

Character Name: {{input type="text" value=charName}}

<h2>Pick a Theme</h2>
  
<p>Select a theme.  This will configure which skills are available.</p>

<select onchange={{action (mut selectedTheme) value="target.value"}}>
  {{#each themes as |tc|}}
    <option value={{tc}} selected={{eq selectedTheme tc}}>{{tc}}</option>
  {{/each}}
</select>

<p><b>Note:  Changing this will reset your skills.</b></p>

<h2>Pick Attributes</h2>

<p>Attributes represent basic abilities that everyone has to some extent. Attributes can be used when no skill directly applies. They can also boost related skills.  Attributes are rated 1-5.</p>

<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>1</td><td>Poor</td><td>You are below average. (less than 40th percentile)</td>
</tr>
<tr>
<td>2</td><td>Average</td><td>You are about average. (40-60th percentile)</td>
</tr>
<tr>
<td>3</td><td>Good</td><td>You’re better than average. (60-75th percentile)</td>
</tr>
<tr>
<td>4</td><td>Great</td><td>You are considerably above average. (75-90th percentile)</td>
</tr>
<tr>
<td>5</td><td>Exceptional</td><td>You’re truly remarkable. (more than 90th percentile)</td>
</tr>
</tbody>
</table>

{{#if showAttrErrors}}
<div class="alert alert-danger">
<ul>
{{#each attrErrors as |error|}}
<li>{{error}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#each fs3attrs as |att|}}
{{#fs3-attrbox rating=att.rating ratingName=att.ratingName updated=(action "abilityChanged")}}
    <b>{{att.name}}</b> - {{att.desc}}
{{/fs3-attrbox}}
{{/each}}

<h2>Pick Action Skills</h2>

<p>Action Skills represent your training/knowledge in areas that are likely to come up in action/conflict situations during the game.  Action Skills are rated from 0 to 8 based on your training and experience.  If the ratings here aren't clear enough for you, you can get some more guidance from the <a href="http://aresmush.com/fs3/fs3-3/detailed-ratings/">Detailed Skill Rating Examples</a>.</p>

<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>0</td><td>Unskilled</td><td>You lack even basic capabilities in this area.</td>
</tr>
<tr>
<td>1</td><td>Everyman</td><td>You know what the average inhabitant of the game world would know.</td>
</tr>
<tr>
<td>2</td><td>Mediocre</td><td>You've still got a lot to learn, but you can handle easy stuff</td>
</tr>
<tr>
<td>3</td><td>Fair</td><td>You have competence at a junior-professional level, but lack finesse or experience.</td>
</tr>
<tr>
<td>4</td><td>Good</td><td>You are thoroughly competent at a general professional level.</td>
</tr>
<tr>
<td>5</td><td>Great</td><td>You understand nuances and shortcuts, and can handle even challenging situations with ease.</td>
</tr>
<tr>
<td>6</td><td>Expert</td><td>You are an expert, and can pull through even in dire circumstances.</td>
</tr>
<tr>
<td>7</td><td>Elite</td><td>You have mastered your field and few can compare. Example: an All Star athlete or world-renowned scientist.</td>
</tr>
<tr>
<td>8</td><td>Legendary</td><td>You are one of the best that’s ever lived. Example: Einstein or Beethoven.</td>
</tr>
</tbody>
</table>

<p>A few tips for selecting Action Skills:</p>

<ul>
<li>Fair/Good/Great are professional skill levels, so most of your job-related skills should be in this range.</li>
<li>You don't have to be an Expert to succeed in FS3.  Ratings 6+ should be reserved for people who are truly experts in their field.</li>
<li>Your skills should generally match your professional experience.  While some variation is allowed for talent (or lack thereof), be careful not to stray too far.  A brand-new pilot with an Elite piloting skill isn't going to fly (pun intended), nor is a casual bar-league ball player with Expert Athletics.</li>
<li>Abilities in FS3 are deliberately broad to simplify chargen, but chances are your character isn't great at *every single thing* covered by a given skill.  For example, Medicine covers a lot, but a paramedic can't do brain surgery, and a brain surgeon or psychiatrist would suck trying to splint a broken leg.  RP appropriately according to your background, and apply appropriate modifiers when going out of your comfort zone.</li>
<li>Everyman is a special rating.  It reflects what the average inhabitant of the game world would be capable of.  What tasks you can even conceivably attempt with Everyman will vary from skill to skill.  </li>

</ul>


{{#if showSkillErrors}}
<div class="alert alert-danger">
<ul>
{{#each skillErrors as |error|}}
<li>{{error}}</li>
{{/each}}
</ul>
</div>
{{/if}}

{{#each fs3action as |skill|}}
{{#fs3-actionbox rating=skill.rating ratingName=skill.ratingName updated=(action "abilityChanged")}}
    <b>{{skill.name}}</b> - {{skill.desc}}
{{/fs3-actionbox}}
{{/each}}


<h2>Background Skills</h2>

<p>Background Skills are free-form, so there is no specific list. You can pick anything from Singing to Underwater Basketweaving. You can see a list of sample Background Skills on the <a href="http://aresmush.com/fs3/fs3-3/core/">FS3 Core</a> page.   Background Skills are rated differently than Action Skills in a more descriptive fashion:</p>

<ul>
<li>Interest - A casual hobby or interest. Rolled as rating 2.</li>
<li>Profession - A profession or very serious hobby. Rolled as rating 4.</li>
<li>Expertise - An area of significant knowledge or expertise. Rolled as rating 6.</li>
</ul>

<p>A few tips for selecting Background Skills:</p>

<ul>
<li>You are assumed to have the equivalent of Everyman rating in any Background Skill not listed on your character sheet. Don’t feel obliged to list every single thing your character has ever done - focus on the things that are important to you.
</li>
<li>
Like Action Skills, Background Skills are deliberately broad. In RL, an engineer might have to take Calculus, Physics, Engineering and various other courses as part of their degree, but those can all be summed up generally as a single Background Skill of “Electrical Engineer”. Strive for a middle ground somewhere between listing each topic individually and lumping too much together (like a single skill of “Science” - that’s too big.)
</li>
</ul>

{{#each bgskills as |skill|}}
{{#fs3-bgbox rating=skill.rating ratingName=skill.ratingName updated=(action "abilityChanged")}}
    <b>{{input type="text" value=skill.name size=150}}</b>
{{/fs3-bgbox}}

{{/each}}

<button id="addbg" {{action "addBackgroundSkill"}}>Add Background Skill</button>


<h2>Languages</h2>

<p>Languages represent the languages that your character can speak and/or read.  Like Background Skills, Language Skills in a more descriptive fashion:</p>

<ul>
<li>Beginner - You know tourist-level common phrases like “my name is” and “where’s the bathroom”. Rolled as rating 2.</li>
<li>Conversational - You can get by, but your phrasing is sometimes awkward and your vocabulary incomplete. Rolled as rating 4.</li>
<li>Fluent - You are fully fluent in the language. Rolled as rating 6.</li>
</ul>


{{#each langskills as |skill|}}
{{#fs3-langbox rating=skill.rating ratingName=skill.ratingName updated=(action "abilityChanged")}}
    <b>{{input type="text" value=skill.name size=150}}</b>
{{/fs3-langbox}}
{{/each}}

<button id="addlang" {{action "addLanguage"}}>Add Language</button>


<h2>Done!</h2>

<p>That's it!  You can view your finished character sheet below.   If you would like to submit your character to help with alpha testing, you can sent the sheet (along with any comments you have) via email to <a href="mailto:faraday@aresmush.com">faraday@aresmush.com</a> or +mail to <a href="http://aresmush.com/arescentral/">Faraday@AresCentral</a> or <a href="http://the100.wikidot.com/">Britt@The 100 MUSH</a>.  Thanks!</p>

{{partial "sheet"}}

<!-- <button id="submit" {{action "submit"}}>Create Me!</button> --> 


</div>
