<div class="panel panel-default">
  <div class="panel-heading">Character Sheet</div>
  
  <div class="panel-body">
  
  <p>Name: {{charName}}</p>
  
  <p><b>Attributes</b></p>
  
  <ul>
  {{#each fs3attrs as |att|}}
 
  <li>{{att.name}}: {{att.rating}}</li>

  {{/each}}
  </ul>
  
  <p><b>Action Skills</b></p>
  
  <ul>
  {{#each fs3action as |skill|}}
 
  <li>{{skill.name}}: {{skill.rating}}</li>

  {{/each}}
  </ul>
  
  </div>
  
  
</div>