<br/><br/><hr/><br/><br/>

<div class="panel panel-default">
  <div class="panel-heading">Character Sheet</div>
  
  <div class="panel-body">
  
  <p>Name: {{charName}}</p>
  
  <p>Theme: {{selectedTheme}}</p>
    
  <p><b>Attributes</b></p>
  
  <ul>
  {{#each fs3attrs as |att|}}
 
  <li>{{att.name}}: {{att.rating}} ({{att.ratingName}})</li>

  {{/each}}
  </ul>
  
  <p><b>Action Skills</b></p>
  
  <ul>
  {{#each fs3action as |skill|}}
 
  <li>{{skill.name}}: {{skill.rating}} ({{skill.ratingName}})</li>

  {{/each}}
  </ul>
  
  <p><b>Background Skills</b></p>
  
  <ul>
  {{#each bgskills as |skill|}}
  
  <li>{{skill.name}}</li>
  
  {{/each}}
  </ul>
  
  
  <p><b>Languages</b></p>
  
  <ul>
  {{#each langskills as |skill|}}
  
  <li>{{skill.name}}</li>
  
  {{/each}}
  </ul>
  
  <p><b>Power Level:</b> {{powerLevel}}</p>
  
  
  </div>
  

</div>